// base
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  color: #666;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.8;
}

// images
.image-1 {
  background: url("/image/image-1.jpg");
  min-height: 100%;
}

.image-2 {
  background: url("/image/image-2.jpg");
  min-height: 500px;
}

.image-3 {
  background: url("/image/image-3.jpg");
  min-height: 500px;
}

.image-4 {
  background: url("/image/image-4.jpg");
  min-height: 100%;
}

.image-1,
.image-2,
.image-3,
.image-4 {
  // position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; // fixed = parallax / scroll = normal
  opacity: 0.7;
}

// section
section {
  text-align: center;
  padding: 50px 80px;
  text-transform: capitalize;

  h2 {
    margin: 1rem 0;
  }

  p {
    margin: 1rem 0;
    text-transform: none;
  }
}

.light-color {
  background: #f4f4f4;
  // color: #666;
}

.dark-color {
  background: #282e34;
  color: #ddd;
}

// header
header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;

  .text {
    text-transform: uppercase;
    letter-spacing: 8px;
  }
}

.image-2,
.image-3,
.image-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 700;

  // position: absolute;
  // top: 50%;
  // width: 100%;
  // text-align: center;
  // color: #000;
  // font-size: 27px;
  // letter-spacing: 8px;
  // text-transform: uppercase;
}

.border {
  background: #111;
  color: #fff;
  padding: 20px;
}

.trans {
  background: transparent;
}

@media (max-width: 568px) {
  .image-1,
  .image-2,
  .image-3,
  .image-4 {
    background-attachment: scroll; // scroll = normal
  }
}
